body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
  }


#search-section {
    text-align: center;
    margin-bottom: 1em;
  }
  
  #search-input {
    width: 80%;
    padding: 0.5em;
    font-size: 1em;
  }

  #search-button {
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
  }
  
  #results-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
  }

  .result-card {
    border: 1px solid #ccc;
    padding: 1em;
    width: 300px;
    text-align: center;
  }

  .result-card img {
  max-width: 100%;
}

#show-all {
  margin: 1em auto;
  display: block;
}



